<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>regidter</title>
</head>
<body>
	<!-- <form action="http://localhost:8001/process_post" method="POST"> -->
		<div>
			<input type="text" placeholder="用户名" id='name'>
		</div>
		<div>
			<input type="password" placeholder="密码" id ='password'>
		</div>
		<!-- <div>
			<input type="password" placeholder="确认密码">
		</div>		
		<input type="button" onclick="register()" value ='注册'>
		<div>
			<a href="javascript:;">登陆</a>
		</div> -->
		<input type="submit" value="Submit" id="submit" onclick="fdata()">
	<!-- </form> -->
</body>
<!-- <script src='http://cdn.static.runoob.com/libs/jquery/1.10.2/jquery.min.js'></script> -->
<script>
	// 
	function fdata(){
		console.log('register.html')
		let name = document.getElementById('name').value
		let password = document.getElementById('password').value
		let a ={
			name:name,
			password:password
		}
		fetch('http://localhost:8001/process_post',{
			method:'post',
			headers:{
				'Content-Type': 'application/json'
			},
			body:JSON.stringify(a)
		}).then(response => response.json())
			.then(res=>{
				console.log(res)
			})
	}
</script>
</html>